@import '_vars';
@import '_nav';
@import '_form'; 
@import '_fonts';
@import '_modal';
@import '_mixins';
@import '_tooltip';
@import '_snackbar';
@import '_keyframes';
@import '_confirmation';
@import '_footer';
 

//————————————————————————————————
// 
//
// Global CSS classes
//
//
//————————————————————————————————
[data-modal-button] {
    cursor: pointer
}
// Flex utilities.
.flex {
    @include flex();
    > * {
        // TODO: Include a mixin for polyfills for /flex/.
        @include flex-child(0 1 auto);
    }
}
.flex-equal {
    > * {
        @include flex-child(1);
    }
}
.align-items-stretch {
    @include align-items(stretch);
}
.align-items-center {
    @include align-items(center);
}
.align-self-start {
    @include align-self(start);
}
.align-items-start {
    @include align-items(flex-start);
}
.align-items-end {
    @include align-items(flex-end);
}
.justify-content-start {
    @include justify-content(flex-start);
}

.justify-content-center {
    @include justify-content(center);
}

.justify-content-end {
    @include justify-content(flex-end);
}

.justify-space-between {
    @include justify-content(space-between);
}

.justify-space-around {
    @include justify-content(space-around);
}
.flex-column {
    @include flex-direction(column);
    > * {
        @include flex-child(0 1 auto);
    }
}
.flex-wrap {
    @include flex-wrap(wrap);
}
.invert {
    @include invert()
}
.grid {
    @include grid()
}
hr {
    height: 1px;
    width: 100%;
    border: 0;
    margin: 1.5rem 0;
    margin: 4rem auto 4.5rem;
    border-top: 1px solid #ffffff1a;
    &.center {
        margin: 1.5rem auto;
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        &.hidesm {
            display:none
        }
    }
    &.inline {
        > :not(:first-child) {
            // margin-left: 1rem
        }
    }
    &.flex {
        >:not(:first-child) {
            margin-left: 10px;
        }
    }
}
.nocollapse {
    white-space: nowrap;
}
.scrollable {
    @include flex();
    overflow-x: hidden;
    scroll-behavior: smooth;
    >* {
      @include flex-child(1 0 100%)
    }
}
[data-index='0'] {
    [data-index=''] {

    }
}
figure {
    margin: 0;
}
* { 
    font-family: $font-body;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    &.noscroll {
        overflow: hidden;
    }
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0px;
    main {
        min-height: 100vh; 
        position: relative;
    }
    &:after {
        top: 0;
        opacity: 0;
        width: 100%;
        content: '';
        height: 100%;
        z-index: 9999;
        position: absolute;
        visibility: hidden;
        transition: all .25s linear;
        background: rgba(0, 33, 56, .9); 
    }
}
.btn-group { // mobile
    margin-top: 2rem;
    @include flex();
    @include flex-direction(column);
    >:not(:first-child) {
        margin: 1rem 0 0 0
    }
}
button {
    transition: all .1s linear; 
    font-family: $font-body;
    border-radius: 3px;
    background: initial;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    border: 0;
    * {
        font-family: $font-body;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
    }
    &:not(.short) {
        height: 50px;
    }
    &:not(.nospacing) {
        letter-spacing: 3px;
        * {
            letter-spacing: 3px; 
        }
    }
    &.tri {
        background: rgba(255, 255, 255, 0);
        color: $color-1;
        border: 0px;
    }
    &.empty {
        * {
            text-align: initial
        }
    }
    &.invert {
        color: white;
        background: inherit;
        border: 1px solid white;
    }
    &:not(.tri) {
    }
    &:not([class*="iconed-"]) {
        padding: 1rem;
    }
    &.primary {
        color: white;
        background: $color-1;
        &:not(.noshadow) {
            // box-shadow: 0px 10px 60px -10px $color-1;
        }
    }
    &.secondary {
        color:$color-1;
        border: 1px solid $color-1;
        background: rgba(255,255,255,0);
        * {
            color:$color-1; 
        }
    }
    &.play {
        color: $color-1;
        border-radius: 30px;
        padding: 7.5px 20px;
    }
    &.iconed-rt:not(.tri):not(.empty) {
        span {
            padding: 0rem 0rem 0rem 2rem
        }
    }
    &.iconed-lt:not(.tri):not(.empty) {
        span {
            padding: 0rem 2rem 0rem 0rem
        }
    }
    &.iconed-rt, &.iconed-lt {
        span {
            // padding: 1rem 1rem 1rem 2rem
        }
        > div { // ios bug needs wrapping div
            @include flex(); 
            @include align-items(center);
            @include justify-content(center);
            [class^="icon-"], [class*=" icon-"] { 
                font-size: 12px; 
                margin: 0 .75rem;
                border-radius: 100px;
                // background: rgba(186, 227, 255, 0.25);
            }
        }
    }
    &.iconed-rt {
        [class^="icon-"], [class*=" icon-"] {
            margin-left: .5rem;
            padding: 0 .5rem 0 0;
        }
    }
    &.iconed-lt {
        [class^="icon-"], [class*=" icon-"] {
            margin-right: .5rem;
            padding: 0 0 0 .5rem;
        }
    }
    &.iconed-lt.nopadding {
        > div {
            [class^="icon-"], [class*=" icon-"] { 
                margin: 0 .75rem 0 0
            }
        }
    }
    &.iconed-rt.nopadding {
        > div {
            [class^="icon-"], [class*=" icon-"] { 
                margin: 0 0 0 .75rem
            }
        }
    }
    &:hover {
        transform: scale(1.02)
    }
    
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
h1,h2,h3,h4,h5,h6 { 
    color: $color-1;
    font-family: $font-heading;
    font-size: 36px; 
    line-height: 1.25;
    letter-spacing: -.8px;
    // font-weight: 600;
    // text-transform: uppercase;
    // letter-spacing: 4px;
    // font-size: 1.8rem;
    // font-weight: 600;
    * {
        // font-family: $font-heading;
        // font-weight: 600;        
    }
}
h1,h2,h3,h4,h5,h6,p {
    @include title();
    margin: 0;
}
svg {
    display: block
}
p {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 100;
    color: desaturate(lighten($color-1, 40), 20);
    &.desc {
        font-size: 15px;
        line-height: 24px;
    }
}
h6 {
    font-size: 20px;
    font-family: $font-body;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
}
small {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 12px;
    &.desc {
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}
hgroup {
    // max-width: 700px; 
    small {
        margin-bottom: 1rem;
        display: block;
    }
    h1 {
        margin: 1rem 0;
    }
    h4 ~ small {
        margin-top: .5rem
    }
    p {
        margin: 1rem 0;
    }
    p ~ a button:not(.tri) {
        display: block;
        margin-top: 1.5rem;
    }
    .btn-group {
        margin-top: 3rem
    }
    h2 {
        margin: 1rem 0;
    }
}
h1 {
    margin: 0;
    // font-size: 2.25rem;
    &.xl {
        font-size: 3rem;
    }
}
h2 {
    line-height: 58px;
}
h3 {
    font-size: 1.75rem;
    font-weight: 300;
}
h4 {
    font-size: 1.66rem;
} 
h5 {
    font-size: 1.33rem;
    font-weight: 300;
}
a { 
    text-decoration: none;
    button:not(.tri) {
    }
    button:not(.noupper) {
        text-transform: uppercase;
        * {
            text-transform: uppercase;
        }
    }
}
.container {
    margin: 0 auto;
    max-width: 500px;
    z-index: 1;
    position: relative;
    padding: 0 2rem;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    &.thin {
        max-width: 900px;
        margin: 0 auto;
    }
    &.wide {
        max-width: 1440px;
    }
}
.container-sm {
    padding: 0 1rem;
}
.primary {
    color: $color-1;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
    hr {
        margin: 1.5rem auto
    }
} 
.text-right {
    text-align: right!important;
}
  
@media (max-width: 768px) {
    main {
    }
    .row {
        > *:not(first-child) {
            // margin-top: 1.5rem
        }
    }
    button {
        &.micro {
            height: 34px;
            font-size: 12px;
            padding: 5px 10px;
        }
    }
    .btn-group { 
        button {
            width: 100%
        }
    }
    .invert-sm {
        color: white;
        * {
            color: white;
        }
    } 
    .hide-sm {
        display: none;
    }
    .minimize-thin-sm {
        font-size: 12px; 
    }
    .flex-column-reverse-sm {
        @include flex-direction(column-reverse);
    }
    .flex-column-sm {
        @include flex-direction(column);
    }
    .flex-row-sm {
        @include flex-direction(row);
        > * {
            @include flex-child(0 1 auto);
        }
    }
}
@media (min-width: 768px) {
    h1,h2 {
        font-size: 52px;
    }
    p {
        font-size: 1.25rem;
        line-height: 32px;
    }
    main {
        &[data-show-nav=true]:not([data-nav-minified=true]) {
            #content-wrap {
                margin-left: 300px;
            }
        }
        // &:not([data-nav-minified=true]) {
        //     #content-wrap {
        //         margin-left: 300px
        //     }
        // }
    }
    ul {
        li {
            &.hidesm {
                display:block
            }
        }
        &.inline {
            @include flex();
            @include justify-content(space-between);
            > :not(:first-child) {
                margin-left: 2rem
            }
        }
        &.flex {
            >:not(:first-child) {
            }
        }
    }
    hgroup {
        // margin-bottom: 2rem;
    }
    hr {
        &.center-lg {
            margin: 1.5rem auto
        }
    }
    h1 {
        &.heading {
            font-size: 3.5rem;
        }
    }
    h3 {
        font-size: 2rem
    }
    .btn-group {
        @include flex-direction(row);
        >:not(:first-child) {
            margin: 0 0 0 1rem
        }
    }
    .constrain-lg {
        max-width: 400px;
    }
    .hide-lg {
        display: none;
    }
    .justify-content-center-lg {
        @include justify-content(center);
    }
    .justify-space-between-lg {
        @include justify-content(space-between);
    }
    .align-items-center-lg {
        @include align-items(center);
    }
    .container {
        padding: 0 2rem;
        max-width: 1280px;
    }
    .container-sm {
        
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    button {
        &:not([class*="iconed-"]) {
            padding: 1rem 2rem
        }
    }
}

@import '_theme';