$color-1: #152b37; 
$color-2: transparentize(#00b0ff, .925);


$bg: #f3f6ff;

$subtle: #583b67;

$font-heading: 'Proxima Nova alt', sans-serif;
// $font-body: 'juni a', 'juni b', sans-serif;
$font-body: 'proxima-nova', sans-serif;

$color-font: #8292a2;
$color-font-heading: #003957;   
$border-radius: 10px; 
$border-radius-btn: 30px;

$shadow: 0px 50px 120px -10px #15052682;   